@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li,
a {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  -webkit-appearance: none;
  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;
  /* FireFox */
  appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* for Chrome Firefox Edge */
}

select::-ms-expand {
  display: none;
  /* for IE11 */
}

textarea {
  -webkit-appearance: none;
}

input,
button {
  border-radius: 0;
}

input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
li {
  outline: none;
}

@-webkit-keyframes arrows {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes arrows {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#header {
  width: 100%;
  height: 60px;
  background-color: #d70c18;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

@media (max-width: 1279px) {
  #header {
    height: 53px;
  }
}

#header .wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 1279px) {
  #header .wrap {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  #header .wrap {
    padding: 0 0 0 20px;
  }
}

#header .wrap .logo {
  height: 40px;
}

@media (max-width: 1279px) {
  #header .wrap .logo {
    height: 34px;
  }
}

#header .wrap .call-btn-wrap {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1279px) {
  #header .wrap .call-btn-wrap {
    cursor: pointer;
    margin-right: -10px;
  }
}

@media (max-width: 767px) {
  #header .wrap .call-btn-wrap {
    margin-right: 0;
  }
}

#header .wrap .call-btn-wrap.hover .dropdown-wrap {
  opacity: 1;
  pointer-events: all;
}

#header .wrap .call-btn-wrap .call-btn {
  width: 120px;
  height: 100%;
  border-radius: 8px;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 767px) {
  #header .wrap .call-btn-wrap .call-btn {
    height: 30px;
    margin-right: 10px;
  }
}

#header .wrap .call-btn-wrap .call-btn img {
  width: 18px;
  margin-right: 10px;
}

@media (max-width: 1279px) {
  #header .wrap .call-btn-wrap .call-btn img {
    width: 16px;
    margin-right: 5px;
  }
}

#header .wrap .call-btn-wrap .dropdown-wrap {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 320px;
  padding: 30px 25px 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 1px rgba(51, 51, 51, 0.5);
          box-shadow: 0 4px 8px 1px rgba(51, 51, 51, 0.5);
}

@media (max-width: 1279px) {
  #header .wrap .call-btn-wrap .dropdown-wrap {
    width: 280px;
    padding: 30px 25px;
  }
}

#header .wrap .call-btn-wrap .dropdown-wrap .top-desc {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

#header .wrap .call-btn-wrap .dropdown-wrap .call-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  color: #fff;
  border-radius: 10px;
  background-color: #df357f;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
}

#header .wrap .call-btn-wrap .dropdown-wrap .call-link:hover img {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1279px) {
  #header .wrap .call-btn-wrap .dropdown-wrap .call-link {
    height: 40px;
    font-size: 14px;
  }
}

#header .wrap .call-btn-wrap .dropdown-wrap .call-link img {
  width: 10px;
  margin-left: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1279px) {
  #header .wrap .call-btn-wrap .dropdown-wrap .call-link img {
    width: 7px;
    margin-left: 9px;
  }
}

#header .wrap .call-btn-wrap .dropdown-wrap .bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 24px;
  background-color: #f6f2ef;
}

@media (max-width: 1279px) {
  #header .wrap .call-btn-wrap .dropdown-wrap .bottom-wrap {
    padding: 16px 14px;
  }
}

#header .wrap .call-btn-wrap .dropdown-wrap .bottom-wrap img {
  width: 34px;
}

#header .wrap .call-btn-wrap .dropdown-wrap .bottom-wrap .text-wrap p:first-child {
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 1279px) {
  #header .wrap .call-btn-wrap .dropdown-wrap .bottom-wrap .text-wrap p:first-child {
    font-size: 14px;
  }
}

#header .wrap .call-btn-wrap .dropdown-wrap .bottom-wrap .text-wrap p:last-child {
  font-size: 20px;
}

@media (max-width: 1279px) {
  #header .wrap .call-btn-wrap .dropdown-wrap .bottom-wrap .text-wrap p:last-child {
    font-size: 18px;
  }
}

#header .wrap .call-btn-wrap .dropdown-wrap .bottom-wrap .text-wrap p:last-child span {
  font-size: 16px;
  margin-left: 0.5em;
}

#header .wrap .page-header-tel-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 12px;
  text-align: right;
  padding-bottom: 6px;
}

@media (max-width: 767px) {
  #header .wrap .page-header-tel-wrap {
    padding-bottom: 4px;
    padding-right: 25px;
  }
}

#header .wrap .page-header-tel-wrap span {
  font-size: 16px;
}

#header .wrap .page-header-tel-wrap img {
  width: 18px;
  position: relative;
  top: 3px;
  margin-right: 3px;
}

footer {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "MicroSoft Jhenghei", serif;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
}

@media (max-width: 1279px) {
  footer {
    height: 32px;
  }
}

footer .left-wrapper {
  background-color: #d70c18;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
  min-width: 900px;
}

@media (max-width: 1279px) {
  footer .left-wrapper {
    min-width: initial;
    width: 100%;
  }
}

footer .left-wrapper p {
  width: 900px;
  text-align: center;
}

@media (max-width: 1279px) {
  footer .left-wrapper p {
    width: 100%;
  }
  footer .left-wrapper p span {
    display: none;
  }
}

footer .right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #878789;
  width: 40%;
}

@media (max-width: 1279px) {
  footer .right-wrapper {
    display: none;
  }
}

footer .right-wrapper img {
  width: 113px;
  margin-left: 40px;
}

@media screen and (min-width: 1280px) and (max-height: 740px) {
  footer .right-wrapper img {
    width: 75px;
  }
}

html {
  height: 100%;
}

body {
  font-family: "PingFang TC", Microsoft JhengHei, "MicroSoft JhengHei", "微軟正黑體", serif;
  line-height: 1.35;
  color: #333;
  overflow-x: hidden;
  min-height: 100%;
}

a {
  color: inherit;
}

picture {
  font-size: 0;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.main-wrap {
  min-height: calc(100vh - 56px);
  background-color: #f6f2ef;
  background-image: url(../img/articles/img_bg_web.svg);
  background-size: 1916px 1120px;
  background-repeat: no-repeat;
  background-position: center 120px;
  padding-top: 120px;
  padding-bottom: 130px;
}

@media (max-width: 1279px) {
  .main-wrap {
    min-height: calc(100vh - 32px);
    background-image: url(../img/articles/img_bg_pad.svg);
    background-size: 768px 1097px;
    background-position: center 100px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .main-wrap {
    background-image: none;
    padding-top: 53px;
    padding-bottom: 70px;
  }
}
/*# sourceMappingURL=article-article.css.map */