@font-face {
  font-family: "gyg";
  src: url("../font/GenJyuuGothic-Heavy.eot");
  src: url("../font/GenJyuuGothic-Heavy.woff") format("woff"),
    url("../font/GenJyuuGothic-Heavy.ttf") format("truetype");
  font-weight: bold;
}
